/*! Responsive Grid */
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    position: relative;
}

.row {
    clear: both;
    margin: 0;
    width: 100%;
}

.grid-45 {
    float: left;
    width: 45%;
}

.grid-50 {
    float: left;
    width: 50%;
}

.grid-55 {
    float: left;
    width: 55%;
}

@media screen and (max-width: 640px) {
    .mobile-grid-100 {
        width: 100%;
        clear: both;
    }
}

/*! Layout */
* {
    margin: 0;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    color: #333333;
    font-weight: 400;
    line-height: 1.5;
}

.main-content {
    background-color: #FFFFFF;
    padding-bottom: .9em;
}

/*! Links */
a {
    color: #4A90E2;
    text-decoration: none;
}

a:hover {
    color: #3B7ADB;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

a.btn {
    display: block;
    margin: 0;
    text-align: center;
}

a.btn.older span{
    margin-left: .4em;
}

a.btn.older {
    margin: 1.25em auto .4em auto;
    padding: .5em .25em;
    width: 5em;
    color: white;
    background-color: #9B9B9B;
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

a.btn.older:hover {
    background-color: #494949;
}

hr {
    border: 0;
    height: 1px;
    background-color: #C5C5C5;
    clear: both;
}

/*! Header **/
.header {
    background: #F5F5F5;
    padding: 1em 0 0 0;
}

.header hr {
    width: 75%;
    margin: .8em auto;
}

.site-branding {
    padding: 0 0 1em;
}

.site-branding__logo {
    display: block;
    margin: 0 auto;
    padding: 0 0 .4em;
}

/*! Subscribe **/
.subscribe {
    margin: .4em 0 0 0;
    padding: .25em 0;
    background-color: #494949;
}

.subscribe a.btn {
    color: #2E2E2E;
    margin: .5em 2em .5em 0;
    padding: .5em 0;
    background-color: #8FDBF8;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.subscribe a.btn.right {
    margin: .5em 0 .5em 2em;
}

.subscribe a.btn:hover {
    background-color: #5ED3FF;
}

/*! Episode */
.post,
.episode {
    margin: 1em 0;
    text-align: left;
}

.episode .title {
    font-size: 1.3em;
    margin-bottom: .1em;
}

.episode .published {
    font-size: .8em;
    color: #474747;
}

.episode a.download {
    font-size: .9em;
}

.episode .published span {
    margin-left: .3em;
}

.episode .description {
    margin: .4em 0;
}

.episode .description h2 {
    margin: .6em 0 .3em 0;
    font-size: 1.1em;
}

.episode .description h3 {
    font-size: 1em;
}

.episode .description p {
    margin: 0 0 .5em 0;
}

.episode .description ul {
    list-style-type: none;
    margin: 0 0 1.4em 0;
    padding: 0; 
    -webkit-column-count: 2;
    -webkit-column-gap: normal;
    -moz-column-count: 2;
    -moz-column-gap: normal;
    column-count: 2;
    column-gap: normal;
}

.episode .description ul li {
    margin: 0 0 .2em 0;
}

.episode .description h4 {
    text-align: center;
    margin: 0;
    font-size: .8em;
    font-weight: 400;
}

.episode .sponsored-by {
    background-color: #F5F5F5;
    margin: 1em auto;
    padding: .4em 0;
    text-align: center;
    width: 90%;
    border: 1px solid #E6E6E6;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.episode .sponsored-by h1 {
    font-size: 1.1em;
    margin: .4em 0;
}

.episode .sponsored-by h2 {
    font-size: 1em;
    margin: 0 .5em;
    padding: 0;
}

.episode .sponsored-by p {
    font-size: .9em;
    margin: 1em 2.6em;
}

.episode .sponsored-by img {
    margin: 1em 0 0 0;
    max-width: 90%;
    max-height: 180px;
}

.episode hr {
    margin: 1em 0 1em 0;
}

/*! Post */
.post-title {
    margin: 1em auto;
    padding: .5em 0;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

.post-content p {
    margin: 1em 0;
}

.post-nav {
    margin: 0 0 .4em 0;
    font-size: .9em;
}

.post-nav .post-next {
    float: right;
}

.post-nav .post-previous {
    float: left;
}

/*! Footer */
.footer {
    border-top: 1px solid #CCCCCC;
    background-color: #F5F5F5;
    padding: .8em 0;
    font-size: .9em;
}

.footer p {
    margin: .25em 0;
}

/*! Brief Player Default Theme */
.briefplayer {
    margin: 1em 0;
    padding: .3em 0;
    font-size: .7em;
    background-color: #F5F5F5;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#bp_controls {
    margin: 0 0 0 .4em;
    padding: 0;
    list-style-type: none;
    float: left;
    line-height: 1.6em;
}

#bp_controls #bp_pause {
    display: none;
}

#bp_controls a {
    font-size: 1.4em;
    color: #333333;
}

.bp-time-holder {
    margin: 0 .4em;
    line-height: 1.8em;
    float: left;
}

.bp-progress-bar {
    position: relative;
    margin: .6em .2em;
    float: left;
    height: 8px;
    background-color: #525252;
    cursor: pointer;
    direction: ltr;
}

.bp-bars {
    position: absolute;
    display: block;
    width: 100%;
    cursor: pointer;
    direction: ltr;
}

.bp-loaded-bar {
    position: absolute;
    display: block;
    background-color: #B9B9B9;
    height: 8px;
    cursor: pointer;
    direction: ltr;
}

.bp-played-bar {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #525252;
    height: 8px;
    cursor: pointer;
    direction: ltr;
}

#bp_no_solution {
    margin: 0 .2em;
    font-size: 1.2em;
    text-align: center;
    display: none;
}

/*! Media Queries */
@media screen and (max-width: 640px) {
    .episode .description ul {
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        column-count: 1;
        column-gap: 0; 
    }

    .episode .sponsored-by p {
        margin: 1em 1.6em 0 1.6em;
    }

    .subscribe a.btn,
    .subscribe a.btn.right {
        margin: .5em 0 .5em 0;
    }
}

/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,.cf:after {display:table; content:"";}
.cf:after {clear:both;}
.cf {zoom:1;}
