@font-face {
  font-family: 'nsbrief-fonts';
  src: url('../fonts/nsbrief-fonts.eot?29125139');
  src: url('../fonts/nsbrief-fonts.eot?29125139#iefix') format('embedded-opentype'),
       url('../fonts/nsbrief-fonts.woff?29125139') format('woff'),
       url('../fonts/nsbrief-fonts.ttf?29125139') format('truetype'),
       url('../fonts/nsbrief-fonts.svg?29125139#nsbrief-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "nsbrief-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

.icon-calendar-empty:before { content: '\e803'; } /* '' */
.icon-left-open-big:before { content: '\e800'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-right-circle:before { content: '\e805'; } /* '' */
