{{ partial "header" . }}
{{ partial "page_header" . }}

    <div class="container">
        <h1 class="title">Posts</h1>
    </div>

    {{ range (where .Data.Pages "Section" "post") }}
        <article class="post">
            <div class="container">
                <header class="post__header">
                    <h2 class="title">
                        <a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a>
                    </h2>
                </header>

                <div class="content">
                    {{ .Summary }}
                </div>

                <a href="{{ .Permalink }}">Continue Reading</a>
            </div>
        </article>
    {{ end }}

{{ partial "footer" . }}
