<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

{{ $baseURL := .Site.BaseURL }}
{{ $media := print $baseURL "images" | safeURL }}
{{ $scripts := print $baseURL "javascripts" | safeURL }}
{{ $styles := print $baseURL "stylesheets" | safeURL }}

<head>
  <title>{{ .Site.Params.show.name }} &raquo; {{ if .IsHome }}Home{{ else }}{{ .Title }}{{ end }}</title>
  <meta charset="utf-8" />
  <meta name="author" content="{{ .Site.Author.Name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}" />
  {{ end }}

  <meta property="og:title" content="{{ if .Params.episode_number }}{{ .Site.Title }} #{{ .Params.episode_number }}: {{ .Title }}{{ else }}{{ .Title }}{{ end }}" />
  <meta property="og:description" content="{{ if .Params.episode_number }}{{ .Summary }}{{ else if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:image" content="{{ $media }}/touch-icon.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ .Site.Params.show.twitter }}" />
  <meta name="twitter:creator" content="@{{ .Site.Params.show.twitter }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta name="twitter:image" content="{{ $media }}/touch-icon.png" />

  <link rel="stylesheet" href="{{ $styles }}/nsbrief.css" />
  <link rel="stylesheet" href="{{ $styles }}/nsbrief-fonts.css" />

  <link rel="shortcut icon" href="{{ $media }}/favicon.ico" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ $media }}/touch-icon.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ $media }}/touch-icon.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ $media }}/touch-icon.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ $media }}/touch-icon.png" />
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Params.show.name }} Main Feed" href="{{ .Site.Params.show.feeds.rss }}" />

  <script src="{{ $scripts }}/soundmanager2-nodebug-jsmin.js"></script>
  <script src="{{ $scripts }}/briefplayer-min.js"></script>
</head>

<body>
